<div class="px-5 py-8">
  <header>
    <h1 class="text-4xl font-extrabold text-gray-800 md:text-center">
      Welcome to <span class="text-purple-600">Pokédex</span>
    </h1>
  </header>

  <div class="mt-8">
    <app-searchbar></app-searchbar>
  </div>

  <section class="mt-8 md:mt-10">
    <h2 class="text-2xl font-bold text-gray-700">Categories</h2>
    <div class="mt-4 grid grid-cols-2 gap-3 md:grid-cols-4">
      <app-category name="Pokédex"></app-category>
      <app-category name="Moves"></app-category>
      <app-category name="Items"></app-category>
      <app-category name="Berries"></app-category>
    </div>
  </section>
</div>
