<div
  [ngClass]="{
    'pokemon-type-grass': getPokemonThemeColor('grass'),
    'pokemon-type-fire': getPokemonThemeColor('fire'),
    'pokemon-type-water': getPokemonThemeColor('water'),
    'pokemon-type-normal': getPokemonThemeColor('normal'),
    'pokemon-type-poison': getPokemonThemeColor('poison'),
    'pokemon-type-bug': getPokemonThemeColor('bug'),
    'pokemon-type-electric': getPokemonThemeColor('electric'),
    'pokemon-type-ground': getPokemonThemeColor('ground')
  }"
  class="
    transition
    duration-100
    ease-linear
    hover:cursor-pointer
    rounded-xl
    px-3
    py-6
    2xl:p-6
    flex
    justify-between
    items-center
  "
>
  <div>
    <span class="text-sm font-semibold text-black text-opacity-50">
      {{ data.pokemonId }}
    </span>

    <p class="text-gray-800 font-bold mt-1">{{ data.name | titlecase }}</p>

    <div class="flex space-x-2 mt-2">
      <text-label *ngFor="let type of data.details.types">{{
        type | uppercase
      }}</text-label>
    </div>
  </div>

  <img
    class="card-image-view"
    src="{{ data.details.imageUrl }}"
    alt="bulbasaur"
  />
</div>
