<div
  [ngClass]="getPokemonThemeColor('bg', data.details.types[0], 'hover')"
  class="
    bg-gray-100
    transition
    duration-100
    hover:cursor-pointer
    rounded-xl
    px-3
    py-6
    2xl:p-6
    flex
    justify-between
    items-center
    group
    card-hover-translate-y
  "
>
  <div>
    <span class="text-sm font-semibold text-black text-opacity-50">
      #{{ data.pokemonId }}
    </span>

    <p class="text-gray-800 group-hover:text-white font-bold mt-1">
      {{ data.name | titlecase }}
    </p>

    <div class="flex space-x-2 mt-2">
      <p
        *ngFor="let type of data.details.types"
        [ngClass]="getPokemonThemeColor('bg', type)"
        class="text-label"
      >
        {{ type | titlecase }}
      </p>
    </div>
  </div>

  <img src="{{ data.details.imageUrl }}" alt="{{ data.name | titlecase }}" />
</div>
