<div class="px-5 py-8">
  <header>
    <h1 class="text-4xl font-extrabold text-gray-800 text-center">
      <span class="text-purple-600">Oops!</span>
      There's no such page here
    </h1>
  </header>

  <h2 class="mt-10 text-center font-bold text-lg text-gray-700">
    Here, try explore these subjects
  </h2>

  <section class="mt-8 md:mt-10">
    <div class="grid gap-3 md:grid-cols-4">
      <app-category name="Pokédex" pageUrl="pokedex-list"></app-category>
      <app-category name="Moves" pageUrl="moves"></app-category>
      <app-category name="Items" pageUrl="items"></app-category>
      <app-category name="Berries" pageUrl="berries"></app-category>
    </div>
  </section>
</div>
