<div class="page-container">
  <header>
    <h1>Welcome to <span class="text-purple-600">Pokédex</span></h1>
  </header>

  <div class="mt-8">
    <app-searchbar></app-searchbar>
  </div>

  <section>
    <h2>Categories</h2>
    <div class="mt-4 grid grid-cols-2 gap-3 md:grid-cols-4">
      <app-category name="Pokédex" pageUrl="pokedex-list"></app-category>
      <app-category name="Moves" pageUrl="moves"></app-category>
      <app-category name="Items" pageUrl="items"></app-category>
      <app-category name="Berries" pageUrl="berries"></app-category>
    </div>
  </section>

  <section>
    <h2>Collections</h2>
    <div class="mt-4">
      <app-category name="My Bag" pageUrl="my-bag"></app-category>
    </div>
  </section>
</div>
