<div class="page-container">
  <header>
    <h1 class="text-center">
      <span class="text-purple-600">Oops!</span>
      There's no such page here
    </h1>
  </header>

  <h2 class="mt-14 text-center">Here, try to explore these subjects</h2>

  <section>
    <div class="grid gap-3 md:grid-cols-4">
      <app-category name="Pokédex" pageUrl="pokedex-list"></app-category>
      <app-category name="Moves" pageUrl="moves"></app-category>
      <app-category name="Items" pageUrl="items"></app-category>
      <app-category name="Berries" pageUrl="berries"></app-category>
    </div>
  </section>

  <section class="flex justify-center">
    <a class="btn-round mr-4" routerLink="/home">Back to Homepage</a>
    <a class="btn-round my-bag-styles" routerLink="/my-bag">See my bag</a>
  </section>
</div>
