<nav class="px-5 py-5 flex justify-between items-center">
  <button class="btn-round" (click)="back()">Back</button>

  <div class="btn-round" (click)="setMenuIsClicked(true)">
    <div>Menu</div>
  </div>

  <div
    *ngIf="menuIsClicked"
    class="
      bg-purple-700
      px-5
      py-8
      absolute
      right-0
      top-0
      h-full
      w-full
      md:w-3/12
      transition
      duration-150
      text-white
      font-bold
      text-center
      z-10
    "
  >
    <button
      class="
        btn-round
        bg-white
        text-red-500
        hover:bg-[#06D6A0] hover:text-[#035853]
      "
      (click)="setMenuIsClicked(false)"
    >
      X
    </button>
    <ul class="grid grid-cols-1 gap-4 mt-10">
      <li>
        <a class="nav-item my-bag-styles" routerLink="/my-bag" (click)="setMenuIsClicked(false)">My Bag</a>
      </li>
      <li *ngFor="let navItem of navItems">
        <a class="nav-item" [routerLink]="navItem.link" (click)="setMenuIsClicked(false)">{{ navItem.title }}</a>
      </li>
    </ul>
  </div>
</nav>
