<app-nav></app-nav>

<div class="page-container">
  <h2>Pokédex</h2>

  <div class="relative">
    <div
      class="
        flex
        mt-4
        space-x-2
        whitespace-nowrap
        overflow-x-scroll
        scrollbar-hide
        pr-8
        md:pr-20
      "
    >
      <button class="btn-round" *ngFor="let type of pokemonTypes">
        {{ type.name }}
      </button>
    </div>

    <div
      class="absolute top-0 right-0 bg-gradient-to-l from-white h-12 w-1/12"
    ></div>
  </div>

  <section class="card-grid-view">
    <pokecard *ngFor="let pokemon of pokemonList" [data]="pokemon"></pokecard>
  </section>
</div>
