<app-nav></app-nav>

<div class="page-container">
  <h2>Pokédex</h2>

  <div class="relative">
    <div
      class="
        flex
        mt-4
        space-x-2
        whitespace-nowrap
        overflow-x-scroll
        scrollbar-hide
        pr-8
        md:pr-20
      "
    >
      <button class="btn-round" (click)="getPokemonDetails()">All Type</button>
      <button
        *ngFor="let type of pokemonTypes"
        [ngClass]="{
          'text-pokemon-type-normal': type.name === 'normal',
          'text-pokemon-type-fighting': type.name === 'fighting',
          'text-pokemon-type-flying': type.name === 'flying',
          'text-pokemon-type-poison': type.name === 'poison',
          'text-pokemon-type-ground': type.name === 'ground',
          'text-pokemon-type-rock': type.name === 'rock',
          'text-pokemon-type-bug': type.name === 'bug',
          'text-pokemon-type-ghost': type.name === 'ghost',
          'text-pokemon-type-steel': type.name === 'steel',
          'text-pokemon-type-grass': type.name === 'grass',
          'text-pokemon-type-fire': type.name === 'fire',
          'text-pokemon-type-water': type.name === 'water',
          'text-pokemon-type-electric': type.name === 'electric',
          'text-pokemon-type-psychic': type.name === 'psychic',
          'text-pokemon-type-ice': type.name === 'ice',
          'text-pokemon-type-dragon': type.name === 'dragon',
          'text-pokemon-type-dark': type.name === 'dark',
          'text-pokemon-type-fairy': type.name === 'fairy'
        }"
        class="btn-round"
        (click)="getPokemonDetailsBasedOnType(type.name)"
      >
        {{ type.name | titlecase }}
      </button>
    </div>

    <div
      class="absolute top-0 right-0 bg-gradient-to-l from-white h-12 w-1/12"
    ></div>
  </div>

  <section class="card-grid-view">
    <pokecard
      *ngFor="let pokemon of pokemonDetails"
      [data]="pokemon"
      (click)="navigateToPokemonDetailsPage(pokemon.name)"
    ></pokecard>
  </section>
</div>
