@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-extrabold text-gray-800 md:text-center;
  }

  h2 {
    @apply font-bold text-2xl text-gray-700;
  }

  section {
    @apply mt-10;
  }
}

@layer components {
  .page-container {
    @apply px-5 py-8;
  }

  .btn-round {
    @apply px-5 py-3
      bg-gray-200
      text-gray-800
      hover:bg-purple-700
      hover:text-white
      rounded-full
      font-semibold
      transition
      duration-100
      ease-linear
      cursor-pointer;
  }

  .nav-item {
    @apply py-3
      w-full
      block
      hover:bg-purple-900 
      rounded-full 
      transition 
      duration-100 
      ease-linear;
  }

  .my-bag-styles {
    @apply bg-[#06D6A0]
      hover:bg-[#32ad8c]
      text-white;
  }

  .text-label {
    @apply bg-white bg-opacity-30 text-white font-semibold text-xs px-2 py-2 rounded-xl;
  }

  .card-grid-view {
    @apply grid md:grid-cols-2 xl:grid-cols-4 gap-4 md:px-10;
  }

  .card-image-view {
    @apply  bg-white bg-opacity-30 rounded-full;
  }

  /* ==========================  POKEMON TYPE THEME COLOR ========================== */
  .pokemon-type-normal {
    @apply bg-gray-300 hover:bg-gray-400;
  }
  
  .pokemon-type-grass {
    @apply bg-green-400 hover:bg-green-500;
  }

  .pokemon-type-bug {
    @apply bg-[#458f58] hover:bg-[#3d814e];
  }

  .pokemon-type-fire {
    @apply bg-red-400 hover:bg-red-500;
  }

  .pokemon-type-water {
    @apply bg-blue-400 hover:bg-blue-500;
  }

  .pokemon-type-poison {
    @apply bg-purple-400 hover:bg-purple-500;
  }

  .pokemon-type-electric {
    @apply bg-yellow-400 hover:bg-yellow-500;
  }

  .pokemon-type-ground {
    @apply bg-[#7e5f47] hover:bg-[#6d513b];
  }
  /* ==========================  END OF POKEMON TYPE THEME COLOR ========================== */
}
